# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\salva\Desktop\de salva\Programas Camarafp\Programas Eclipse\Web_scraping_Salva_Blanquer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
